/* Global Settings */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #E9F8F5;
    --secondary-color: #C2ECE3;
    --accent-color: #F8E9EC;
}

body {
    background-color: var(--main-color);
    padding: 5px;
    margin: 0;
}

div {
    border: red 1px solid;
}

/* Main Container */
#container {
    width: 100%;
    height: 720px;
    display: flex;
}

/* Video */
#vidboard {
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
}

#ctrl-container {
    display: flex;
    width: 100%;
}

#btn-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 6.5%;
}

#slider-container {
    flex-direction: column;
    justify-content: flex-end;
    width: 93.5%;
}

.slider {
    flex-direction: column;
    justify-content: flex-end;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 75%;
    background: rgb(172, 48, 230);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 75%;
    background: #4CAF50;
    cursor: pointer;
}

.fas {
    font-size: 16px;
    text-decoration: none;
    color: rgb(25, 25, 25);
    transition: 0.5s;
    cursor: pointer;
}

.fas:hover {
    color: rgb(207, 105, 105);
}


/* Messaging */

#msgboard {
    background-color: var(--secondary-color);
    flex-direction: column;
    width: 25%;
    justify-content: flex-end;
}

form input {
    margin: 0 1px;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 96.5%;
}

#messages {
    list-style-type: none;
    height: 684px;
    overflow: auto;
    margin: 2px;
    padding: 0;
}

#messages li {
    background-color: var(--secondary-color);
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background-color: var(--accent-color);
}